{
    "kind": "HorizontalPodAutoscaler",
    "apiVersion": "autoscaling/v2beta1",
    "metadata": {
        "name": "{{item.name}}",
         "namespace": "{{namespace.name}}",
         {% include "include/labels.j2" %}
         {% include "include/annotations.j2" %}
    },
    "spec": {
        "scaleTargetRef": {
            "apiVersion": "apps/v1",
            "kind": "Deployment",
            "name": "{{item.name}}"
        },
        {% if item.autoscaler.minReplicas is defined %}
        "minReplicas": {{ item.autoscaler.minReplicas }},
        {% endif %}
        {% if item.autoscaler.maxReplicas is defined %}
        "maxReplicas": {{ item.autoscaler.maxReplicas }},
        {% endif %}
        {% if item.autoscaler.metrics is defined %}
        "metrics": {{ item.autoscaler.metrics | to_json }}
        {% endif %}
    }
}
