{
  "kind": "Secret",
  "apiVersion": "v1",
  "metadata": {
     "name": "{{item.name}}",
     "namespace": "{{namespace.name}}",
     {% include "include/labels.j2" %}
     {% include "include/annotations.j2" %}
  },

  {% if item.type is defined %}
  "type": "{{ item.type }}",
  {% endif %}

  {% if item.data is defined %}
  "data": {{ item.data | to_json }}
  {% endif %}

  {% if item['.dockercfg'] is defined %}
  "type": "kubernetes.io/dockercfg",
  "data": {
    ".dockercfg": "{{ item['.dockercfg'] }}"
  }
  {% endif %} 
}
