{
    "kind": "ServiceAccount",
    "apiVersion": "v1",
    "metadata": {
        "name": "{{ item.name }}",
        "namespace": "{{ namespace.name }}",
         {% include "include/labels.j2" %}
         {% include "include/annotations.j2" %}
    }
}
